.benefit1st {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 994px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: #040815;
  font-family: Inter;
}

.tittleDescription {
  position: absolute;
  top: 120px;
  left: 120px;
  width: 904px;
  height: 162px;
}

.tittle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 245px;
  height: 162px;
}

.easySimpleAffordableContainer {
  position: absolute;
  top: 42px;
  left: 0px;
  letter-spacing: -0.03em;
  line-height: 150%;
}

.easySimple {
  margin: 0;
}

.whyUseSpendin {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
  color: #7c5cfc;
}

.ourPlatformHelps {
  position: absolute;
  top: 57px;
  left: 408px;
  font-size: 20px;
  letter-spacing: -0.02em;
  line-height: 150%;
  color: #596780;
  display: inline-block;
  width: 496px;
}

.benefitsGroup {
  position: absolute;
  top: 346px;
  left: 120px;
  width: 1200px;
  height: 528px;
  font-size: 16px;
}

.benefitV1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 384px;
  height: 528px;
}

.benefitV1Inner {
  position: absolute;
  height: 72.73%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 27.27%;
  left: 0%;
  border-radius: 12px;
  background-color: #f3f5f7;
  overflow: hidden;
}

.invoice1Parent {
  position: absolute;
  top: 62px;
  left: -12px;
  width: 374px;
  height: 476px;
}

.invoice1Icon {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 12px;
  width: 334px;
  height: 476px;
  object-fit: cover;
}

.verif {
  position: absolute;
  top: 24px;
  left: 251px;
  box-shadow: 0px 10px 50px rgba(145, 145, 145, 0.4);
  border-radius: 70px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px 8px 8px;
  gap: 8px;
}

.ellipseParent {
  width: 32px;
  position: relative;
  height: 32px;
}

.groupChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: #7fb519;
  width: 32px;
  height: 32px;
}

.groupItem {
  position: absolute;
  top: 5.6px;
  left: 5.6px;
  border-radius: 50%;
  background-color: #fff;
  width: 20.8px;
  height: 20.8px;
}

.tickCircle {
  position: absolute;
  top: 3.2px;
  left: 3.2px;
  width: 25.6px;
  height: 25.6px;
}

.vuesaxboldtickCircleIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.verified {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
}

.noNeedToPayManuallyWePrParent {
  position: absolute;
  height: 22.73%;
  width: 100%;
  top: 77.27%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  color: #596780;
}

.noNeedTo {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0%;
  letter-spacing: -0.02em;
  line-height: 150%;
  display: inline-block;
}

.automaticInvoicePayment {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 24px;
  letter-spacing: -0.03em;
  line-height: 150%;
  font-weight: 600;
  color: #040815;
}

.benefit1stBenefitV1 {
  position: absolute;
  top: 0px;
  left: 408px;
  width: 384px;
  height: 528px;
  text-align: justify;
  font-size: 12px;
  color: #1a202c;
}

.statusParent {
  position: absolute;
  top: 58px;
  left: -385px;
  border-radius: 10px;
  background-color: #fff;
  width: 726px;
  height: 326px;
  overflow: hidden;
}

.status {
  position: absolute;
  top: 77px;
  left: 0px;
  border-top: 1px solid #f3f5f7;
  border-bottom: 1px solid #f3f5f7;
  box-sizing: border-box;
  width: 726px;
  height: 35px;
  overflow: hidden;
  color: #90a3bf;
}

.transactions {
  position: absolute;
  top: 10px;
  left: 24px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
}

.dateParent {
  position: absolute;
  top: 10px;
  left: 276px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.date {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 500;
}

.arrowDown {
  width: 12px;
  position: relative;
  height: 12px;
}

.amountParent {
  position: absolute;
  top: 10px;
  left: 446px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.statusGroup {
  position: absolute;
  top: 10px;
  left: 593px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.transactionHistory {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
}

.frameParent {
  position: absolute;
  top: 136px;
  left: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  font-size: 14px;
}

.groupParent {
  width: 649px;
  position: relative;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}

.ellipseGroup {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
}

.groupInner {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: rgba(51, 185, 56, 0.1);
  width: 36px;
  height: 36px;
}

.bank {
  position: absolute;
  top: 8.75px;
  left: 9.75px;
  width: 16.5px;
  height: 16.5px;
}

.bankTransfer {
  position: absolute;
  top: 8px;
  left: 46px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
}

.jan012022 {
  position: absolute;
  top: 8px;
  left: 247px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
}

.div {
  position: absolute;
  top: 8px;
  left: 417px;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 600;
}

.frameChild {
  position: absolute;
  top: 15px;
  left: 560px;
  border-radius: 70px;
  width: 16px;
  height: 16px;
}

.completed {
  position: absolute;
  top: 16px;
  left: 584px;
  font-size: 12px;
  letter-spacing: -0.02em;
  font-weight: 600;
}

.frameItem {
  width: 665px;
  position: relative;
  max-height: 100%;
}

.calendarParent {
  position: absolute;
  top: 19px;
  left: 550px;
  border-radius: 6px;
  border: 1px solid #c3d4e9;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  gap: 8px;
}

.calendar {
  width: 18px;
  position: relative;
  height: 18px;
}

.jan1 {
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
}

.stillWritingManualExpensesParent {
  position: absolute;
  height: 22.73%;
  width: 100%;
  top: 77.27%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  text-align: left;
  font-size: 16px;
  color: #596780;
}

.benefitV12 {
  position: absolute;
  top: 0px;
  left: 816px;
  width: 384px;
  height: 528px;
  color: #fff;
  font-family: '
IBM Plex Mono'
;
}

.masterCard1HotIonParent {
  position: absolute;
  top: 62px;
  left: -73px;
  width: 425px;
  height: 275px;
}

.masterCard1HotIon {
  position: absolute;
  top: 90px;
  left: 90px;
  width: 335px;
  height: 185px;
}

.cardSurface {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  background: linear-gradient(106.15deg, #064a7d 12.22%, #642401 87.89%);
  width: 335px;
  height: 185px;
}

.gousianLayer {
  position: absolute;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(80px);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.03);
  width: 335px;
  height: 185px;
}

.effectIcon {
  position: relative;
  width: 240px;
  height: 185px;
}

.number {
  position: absolute;
  top: 137px;
  left: 24px;
  line-height: 24px;
}

.putNameHere {
  position: absolute;
  top: 113px;
  left: 24px;
  line-height: 24px;
}

.creditText {
  position: absolute;
  top: 28px;
  left: 24px;
  line-height: 24px;
  font-family: Ubuntu;
  opacity: 0.9;
}

.logoIcon {
  position: absolute;
  top: 24px;
  left: 263px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.discoverCardGreenGrass {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 335px;
  height: 185px;
}

.benefit1stCardSurface {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  background: linear-gradient(106.23deg, #a5db92, #007c05);
  width: 335px;
  height: 185px;
}

.effectsIcon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 335px;
  height: 185px;
  object-fit: cover;
}

.benefit1stLogoIcon {
  position: absolute;
  top: 7px;
  left: 248px;
  width: 63px;
  height: 63px;
}

.visaCard3OceanBlue {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 335px;
  height: 185px;
}

.cardSurface2 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  background: linear-gradient(106.15deg, #52b6fe 12.22%, #6154fe 87.89%);
  width: 335px;
  height: 185px;
}

.logoIcon2 {
  position: absolute;
  top: 12px;
  left: 263px;
  width: 48px;
  height: 48px;
}

.haveMoreThan1BankAccountParent {
  position: absolute;
  height: 22.73%;
  width: 100%;
  top: 77.27%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  color: #596780;
  font-family: '
Plus Jakarta Sans'
;
}