.featureRichLayoutThat {
  align-self: stretch;
  position: relative;
  line-height: 36px;
  font-size: 34px;
  font-family: __nextjs-Geist;
}

.addAConcise {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
}

.proBlocksSectionTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  font-size: 30px;
}

.svgviewerOutput21Icon {
  width: 48px;
  position: relative;
  border-radius: 8px;
  height: 48px;
}

.heading {
  align-self: stretch;
  position: relative;
  line-height: 130%;
}

.text {

  position: relative;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
  color: #717182;
  display: inline-block;
}

.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.contentTop {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.tag1 {
  position: relative;
  font-weight: 600;
}

.tag {
  align-self: stretch;
  border-radius: 12px;
  background-color: #f3e5f5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.5px 7px;
  text-align: left;
  font-size: 12.25px;
  color: #8b4097;
}

.content {
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 42px 32px;
  box-sizing: border-box;
  gap: 24px;
}

.card {
  border-radius: 20px;
  background-color: #faf8ff;
  border: 1px solid #f2ecff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.heading2 {
  position: relative;
  line-height: 130%;
}

.row {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 19px;
  color: #475467;
  font-family: Inter;
}

.aspectRatioIcon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.acrossEveryIndustry {
  align-self: stretch;
  position: relative;
  line-height: 24px;
}

.aspectRatioParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 22px;
  color: #737373;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 24px;
  box-sizing: border-box;
  gap: 40px;
  max-width: 672px;
}

.proBlocksGallerySection {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 64px 0px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  color: #0a0a0a;
  font-family: 'Inter';
}