.tagline {
  position: relative;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
}

.proBlocksTagline {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.featureRichLayoutThat {
  align-self: stretch;
  position: relative;
  font-size: 34px;
  line-height: 36px;
  font-family: __nextjs-Geist;
  color: #0a0a0a;
  text-align: center;
}

.poweredExclusivelyBy {
  margin: 0;
  text-align: center;
}

.addAConciseContainer {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #737373;
  text-align: center;
}

.proBlocksSectionTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* center align children */
  justify-content: flex-start;
  gap: 16px;
  text-align: center;
}

.iconWrapper {
  width: 40px;
  border-radius: 8px;
  height: 40px;
}

.subheading {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
}

.advancedReasoningAnd {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
  text-align: center;
}

.flexVertical1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* center align content */
  justify-content: flex-start;
  gap: 8px;
}

.flex {
  align-self: stretch;
  border-radius: 16px;
  background-color: #faf8ff;
  border: 1px solid #f2ecff;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* center align icon + content */
  justify-content: flex-start;
  padding: 16px;
  gap: 20px;
  text-align: center;
}

.flexVertical {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 16px;
  color: #0a0a0a;
  text-align: center;
}

.div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* center overall content */
  justify-content: flex-start;
  gap: 40px;
}

.aspectRatioIcon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* center container items */
  justify-content: center;
  padding: 0px 24px;
  box-sizing: border-box;
  gap: 48px;
  max-width: 672px;
  text-align: center;
}

.proBlocksFeatureSection {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 64px 0px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: #8b4097;
  font-family: 'Inter';
}